body {
    font-size: 16px;
    font-family: 'Playfair Display', serif;

}

#main-title {
   
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;

    text-transform: capitalize;

}

#uvp {

    
    font-style: normal;
    font-weight: 900;
    font-size: 36.65px;

    /* identical to box height */

    text-transform: capitalize;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22.65px;
    
    text-transform: capitalize;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 2 / 2 / 5;
}

.div2 {
    grid-area: 2 / 2 / 3 / 5;
}

.div3 {
    grid-area: 3 / 2 / 4 / 5;
}





#big-text {
    max-width: 50vw;

}

.myButton {
    background: #EDCF00;
    box-shadow: 4px 8px 4px rgba(1, 1, 1, 0.25);
    border-radius: 30px;
    background-color: #d0451b;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    
    font-size: 36.65px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

.myButton:hover {
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color: #bc3315;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#big-text::-webkit-resizer {
    background-color: #bc3315;
}

.input-field {
    display: flex;
    flex-direction: column;
}

::-webkit-resizer {
    background-color: lightgrey;
}

textarea {
    box-shadow: inset 1px 2px 5px #000;
    border-radius: 3px;
    width: 50vw;
}

canvas {
    width: 50vw;
}